@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}
/* body {
  overflow-x: hidden;
} */

.top-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

@media screen and (min-width: 800px) {
  .top-flex {
    flex-direction: row;
    text-align: left;
  }
}
